html {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/leaves.png);
}

header {
    background-color: #ffffff;
    margin: -10px;
    padding: 25px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
}

.name {
    float: left;
    background-color: #4aaaa5;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    margin-top: -25px;
    margin-left: 620px;
}

li {
    float: right;
    margin: 15px;
    margin-top: -15px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.divider {
    float: right;
    margin: 20px;
    margin-top: -15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

ul {
margin-right: 620px;
}

a {
    text-decoration: none;
    color: #777777;
}

.body {
    clear: both;
    margin: auto;
    width: 960px;
    border: #dddddd;
    border-width: 2px;
    border-style: solid;
    margin-top: 50px;
    padding: 10px 50px 50px 50px;
    background-color: #ffffff;
}

.title {
    color: #4aaaa5;
}

.footer {
    background-color: #4aaaa5;
    margin: 150px -10px 0px -10px;
    padding: 10px 0px 0px;
}

.footer2 {
    color: #cccccc;
    background-color: #777777;
    text-align: center;
    padding: 50px 10px 10px 10px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #777777;
    margin: 10px 0px 5px 0px;
    padding: 10px 0px 5px 0px;
    font-size: x-large;
}

form {
    margin: 20px 0px;
}

input[type=text] {
    background-color: white;
    border: 2px solid #cccccc;
    width: 100%;
    height: 20px;
    padding: 5px;
}

textarea {
    border: 2px solid #cccccc;
    width: 100%;
    height: 220px;
    padding: 5px;
}

button {
    padding: 5px;
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 0px 0px;
    cursor: pointer;
    font-size: large;
}
 
/* I have literally zero idea how to add text onto these images so ¯\_(ツ)_/¯ */
img {
    margin: 10px 10px 0px 10px;
    padding: 15px;
}